vpc_id = ""
public_subnet_id = ["", ""]
private_subnet_cidrs = ["", ""]
route_table_id = ""
project_name="tf-aws-nat-instance"
environment="development"
owner_name="Francisco Briones"
instance_type="t2.micro"
ssh_allowed_cidr=[
    "201.223.99.29/32",
    "191.113.82.129/32", # Casa Tia Fancy
    "181.42.133.205/32"  # Casa Carlos Andres
]